body {
    margin: 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#orrery-container {
    width: 80vw;
    height: 80vh;
}
